.footer-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    padding: 2rem;
}

.footer-text{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    margin-bottom: 1rem;
}